RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTP_HOST} ^www.vitalapp.com.br [NC]
RewriteRule ^(.*)$ https://www.vitalapp.com.br/$1 [L,R=301]
